.eprj
.DS_Store
.rvmrc
.project
.loadpath
.sass-cache
!.rvmrc.example
Thumbs.db
log/**/*
log/*
tmp/**/*
tmp/*
pkg/*
pkg
.idea
.rake_tasks\~
.cap_tasks\~
*.tmproj
mkmf.log
.bundle/config
.bundle/environment.rb
/gemfiles/rails_main.gemfile.lock
