---
name: CI
on: push
jobs:
  specs:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        ruby-version:
          - 2.4
          - 2.5
          - 2.6
        gemfile:
          - rails4.2
          - rails5.0
          - rails5.1
          - rails5.2
          - rails6.0
          - rails6.1
        exclude:
          - ruby-version: 2.4
            gemfile: rails6.0
          - ruby-version: 2.4
            gemfile: rails6.1
    env:
      BUNDLE_GEMFILE: gemfiles/${{ matrix.gemfile }}.gemfile
    steps:
      - uses: zendesk/checkout@v2
      - uses: zendesk/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby-version }}
          bundler-cache: true
      - run: bundle exec rake test
